<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="content-margin" style="width: 50%;">

    <pre>valid form: {{formGroup.valid}}</pre>

    <mat-card>

        <form [formGroup]="formGroup" (ngSubmit)="submit()">

            <button type="submit" mat-flat-button color="primary">Submit</button>

            <dynamic-material-form [group]="formGroup"
                                   [layout]="formLayout"
                                   [model]="formModel"
                                   [reduxStore]="formReduxStore"
                                   (blur)="onBlur($event)"
                                   (change)="onChange($event)"
                                   (focus)="onFocus($event)"
                                   (matEvent)="onMatEvent($event)"></dynamic-material-form>

            <!-- <dynamic-material-form-control *ngFor="let controlModel of formModel"
                [group]="formGroup"
                [model]="controlModel">
            </dynamic-material-form-control> -->

        </form>

    </mat-card>

    <!--button (click)="test()">Update List</button-->

    <pre>{{formGroup.value | json}}</pre>

</div>
